#pipspeak {
	width: 100%;
}

#pipspeak table tr td {
	padding: 0px 5px;
}
#pipspeak_comment_box {
	width: 95%;
}

#pipspeak_comment {
	height: 32px;
	overflow: hidden;
}

#pipspeak_emote1:hover, #pipspeak_emote2:hover, #pipspeak_emote3:hover, #pipspeak_emote4:hover, #pipspeak_emote5:hover {
	cursor: pointer;
	width: 40px;
	height: 40px;
}

#pipspeak_comment code {
	color: #e52d27;
	padding: 2px 4px;
  	white-space: nowrap;
  	background-color: #f7f7f9;
  	border: 1px solid #e1e1e8;
  	margin-right: 5px;
}